################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IntroCalculator/.vs/IntroCalculator/v16
