################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IntroCalculator/.vs/IntroCalculator/v16
/IntroCalculator/CalculatorExecutor/bin
/IntroCalculator/CalculatorExecutor/obj
/IntroCalculator/.vs/IntroCalculator/config
/IntroCalculator/AspNetCalculator/bin
/IntroCalculator/AspNetCalculator/obj/Debug
/IntroCalculator/packages
/IntroCalculator/WinFormCalculator/bin/Debug
/IntroCalculator/WinFormCalculator/obj/Debug
